/*
	Coin Slider jQuery plugin CSS styles
*/
.coin-slider {
	padding:0;
	overflow:hidden;
	zoom:0;
	position:relative;
	float:right;
}
.coin-slider a {
	text-decoration:none;
	outline:none;
	border:none;
}
